body {
  margin: 0px;
  padding: 0px;
  border: 0px; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0px;
  padding: 0px;
  border: 0px; }

header {
  height: 450px; }
  header .nav {
    float: right; }
  header .hammenu {
    height: 30px;
    width: auto;
    float: right;
    position: relative;
    top: 40px;
    right: 50px; }
  header .sub-menu {
    position: absolute;
    left: 86%;
    top: 75px;
    display: none; }
  header .hamburger a:hover {
    color: #4a4a93; }
  header .hamburger:hover .sub-menu {
    display: block; }
  header .sub-menu li {
    width: 150px;
    text-align: right;
    padding: 5px 0px; }
  header .sub-menu a {
    color: white;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }
  header .hammenu:hover {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); }
  header .hero {
    background-image: url("../images/photo-1466770862531-457e6c8a7e63.jpeg");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    width: auto;
    height: 450px; }
  header .logo {
    height: 125px;
    width: auto;
    position: relative;
    bottom: 160px;
    right: 30px;
    left: 10px; }
  header .slogan {
    padding: 5px;
    text-align: center;
    padding-top: 8%; }
  header .slogan h3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: black;
    font-size: 20px;
    font-weight: lighter; }
  header .headerslogan2 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-weight: bold;
    display: inline;
    padding: 5px; }
  header .slogan .secondline {
    padding-left: 50px; }
  header p {
    color: white;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 130px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    padding-left: 20px; }
  header .shelfmenu {
    list-style-type: none;
    text-align: center;
    margin: 0px 20px;
    width: 100%; }
  header .shelfmenu li {
    display: inline-block;
    margin: 0px 30px;
    margin-top: 10px; }
  header .shelfmenu a {
    color: white;
    text-decoration: none;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 20px;
    padding: 0 5%; }
  header a:hover {
    font-weight: bolder; }
  header .shelfclass {
    background-color: black;
    height: 50px; }
  header .dropdown {
    position: relative; }
    header .dropdown a:hover {
      color: #4a4a93; }
  header .dropdown:hover .drop-nav {
    display: block; }
  header .drop-nav {
    clear: both;
    display: none;
    position: absolute; }
  header .drop-nav li {
    display: block; }
  header .drop-nav a {
    color: black; }
  header .drop-nav a:hover {
    font-weight: bold; }
  header .search-bar {
    height: auto;
    width: auto;
    position: relative;
    top: 10px;
    left: 250px;
    display: inline-block;
    transform: translate(-50%, -50%);
    box-sizing: border-box; }
    header .search-bar input {
      height: 44px;
      width: 44px;
      padding: 10px 20px;
      box-sizing: border-box;
      font-size: 18px;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
      border: 2px solid white;
      border-radius: 44px;
      cursor: pointer;
      background-color: transparent;
      transition: all 0.5s ease-out;
      color: transparent; }
      header .search-bar input::placeholder {
        color: transparent; }
      header .search-bar input:invalid {
        box-shadow: none; }
      header .search-bar input:hover {
        border: 2px solid #FFF;
        box-shadow: 0 0 2px 2px #EEE; }
      header .search-bar input:focus, header .search-bar input:valid {
        width: 300px;
        border: 2px solid #CCC;
        outline: none;
        cursor: auto;
        background-color: #FFF;
        color: #000; }
        header .search-bar input:focus::placeholder, header .search-bar input:valid::placeholder {
          color: #999; }
        header .search-bar input:focus + .search-icon, header .search-bar input:valid + .search-icon {
          z-index: 0;
          border-color: #bebebe;
          right: 20px; }
          header .search-bar input:focus + .search-icon:after, header .search-bar input:valid + .search-icon:after {
            background-color: #CCC; }
  header .search-icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1; }
    header .search-icon:after {
      content: '';
      position: absolute;
      top: 19.07px;
      left: 17.07px;
      transform: rotate(45deg);
      height: 2px;
      width: 10px;
      background-color: white;
      border-radius: 10px; }

.mobilemenu {
  display: none; }

section {
  height: auto;
  clear: both; }
  section .books {
    text-align: center;
    margin-top: 10%;
    padding: 10px; }
  section div {
    float: left;
    padding: 4% 3.5%; }
  section img {
    height: 190px; }

@keyframes bounceIn {
  60% {
    transform: scale(0.8);
    opacity: 1; }
  100% {
    transform: scale(1); } }
.bookimg img:first-of-type:hover {
  animation-duration: .7s;
  animation-name: bounceIn; }

h3 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

h4 {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; }

.dots {
  width: 203px;
  height: auto; }

footer {
  clear: both;
  color: white;
  background-color: #4a4a93;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  text-align: center;
  clear: both;
  height: 20%; }
  footer h4 {
    padding: 2%; }
  footer ul {
    text-align: center;
    padding: 2%; }
  footer li {
    list-style: none;
    display: inline; }
  footer a {
    color: white;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    text-decoration: none;
    padding: 0 3%; }
  footer a:hover {
    font-weight: bold; }

@media (min-width: 600px) and (max-width: 1024px) {
  header p {
    font-size: 100px; }
  header .logo {
    padding-top: 2%;
    height: 130px; }
  header .shelfmenu a {
    font-size: 20px;
    padding: 0px 10px; }
  header .shelfmenu li {
    margin: 10px 5px; }
  header .sub-menu {
    position: absolute;
    left: 80%;
    top: 75px;
    display: none; }
  header .sub-menu a {
    font-size: 20px; }
  header .drop-nav a {
    font-size: 20px;
    padding: 7px;
    margin: 2px; }
  header .hammenu {
    height: 40px;
    width: auto;
    float: right;
    position: relative;
    top: 40px;
    right: 50px; }
  header .slogan h3 {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    color: black;
    font-size: 25px;
    font-weight: lighter; }
  header .search-icon {
    display: none; }
  header .search-bar {
    display: none; }

  section {
    height: auto;
    clear: both;
    padding-left: 4%; }
    section .books {
      text-align: center;
      margin: 1%;
      margin-top: 16%; }
    section div {
      float: left;
      padding: 5% 3%; }
    section img {
      height: 210px; } }
@media (max-width: 599px) {
  header {
    height: 250px; }
    header .hero {
      height: 75%; }
    header .slogan {
      display: none; }
    header .search-icon {
      display: none; }
    header .search-bar {
      display: none; }
    header p {
      font-size: 60px;
      padding-top: 120px; }
    header .hammenu {
      position: absolute;
      top: 2%;
      right: 2%; }
    header .logo {
      height: 70px;
      position: absolute;
      top: 85px; }
    header .shelfmenu {
      display: none; }

  .mobilemenu {
    display: block; }
    .mobilemenu ul {
      text-align: center; }
    .mobilemenu li {
      position: relative;
      list-style: none;
      display: inline; }
      .mobilemenu li li:hover {
        font-weight: bold; }
    .mobilemenu a {
      text-decoration: none;
      color: black;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
      padding: 0px 30px;
      margin: 10px;
      font-size: 30px;
      border: 2px black solid;
      border-radius: 7px; }
    .mobilemenu a:hover {
      font-weight: bold;
      color: black; }
    .mobilemenu .drop-nav, .mobilemenu .drop-nav2 {
      position: absolute;
      display: none; }
    .mobilemenu .drop-nav li a, .mobilemenu .drop-nav2 li a {
      font-size: 25px; }
    .mobilemenu .dropdown a:hover {
      color: #4a4a93; }
    .mobilemenu .dropdown:hover .drop-nav {
      display: block; }
    .mobilemenu .dropdown:hover .drop-nav2 {
      display: block; }
    .mobilemenu .drop-nav li {
      width: 150px;
      text-align: right;
      left: 8%;
      position: relative; }
    .mobilemenu .drop-nav2 li {
      width: 150px;
      position: relative;
      left: 110%; }
    .mobilemenu .drop-nav a, .mobilemenu .drop-nav2 a {
      color: black;
      padding: 20px;
      font-size: 30px;
      text-align: left;
      text-decoration: none;
      font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
      border: none; }

  section {
    height: auto;
    clear: both;
    padding-left: 15%;
    padding-top: 90px; }
    section .books {
      text-align: center;
      margin: 1%; }
    section div {
      float: left;
      padding: 3%; }
    section img {
      height: 300px; } }

/*# sourceMappingURL=style.css.map */
