
$purple: #4a4a93;
$font: "cajito";

// GENERAL FIXES
body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

// SETTING MAX WIDTH
html {
  max-width: 1440px;
  margin: 0 auto;
}


h1, h2, h3, h4, h5, h6, p, a, ul, li{
  margin: 0px;
  padding: 0px;
  border: 0px;
}


// HEADER AND HERO

header {
  height: 350px;

  .nav {
    float: right;
  }

// BACKGROUND IMAGE
  .hero {
    background-position: top;
    background-repeat: no-repeat;
    width: auto;
    z-index: -1;

  .my-slider {
    height: 300px;
    z-index: -1;

      ul li img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        z-index: -1;
      }
  }

  .unslider-nav {
    background-color: black;
  }
  // LOGO

  .logo {
    height: 30%;
    position: absolute;
    top: 5%;
    right: 2%;
    z-index:400;
    border: 2px white solid;
    border-radius: 100%;
    box-shadow: 0 0 5px white;
  }



  // TITLE
  #maintitle {
    color: white;
    font-family: $font;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 300;
    padding: 1%;
    padding-left: 1%;
    padding-top: 4%;
    text-align: center;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 15%;
    border: 3px solid white;
    z-index: 1;
    background-color: rgba(white, .40);
    box-shadow: 0 0 5px white;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
  }

// MAIN NAVIGATION MENU
.mainnavcontainer {
  background-color: black;
  padding-left: 8%;
  padding-bottom: 1%;
  box-shadow: 2px 2px 5px #888888;
  ul {
    display: inline;
  }
  .mainnav {
    background-color: black;
    clear: both;
    text-align: center;
    .mainnavdrop {
      display: inline;
      list-style: none;
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-family: $font;
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px;
        padding-top: 15px;
        // border: 2px solid white;
      }
      .mainnavdropitems {
        display: none;
      }
      a:hover {
        font-weight: 900;
        background-color: rgba(white, .20);
        transition: background-color 0.5s ease;
      }
    }
  }
  .genrenav {
    background-color: black;
    text-align: center;
    .genrenavdrop {
      display: inline;
      list-style: none;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: white;
        font-family: $font;
        text-transform: uppercase;
        font-size: 20px;
        padding: 10px;
        padding-top: 15px;
        // border: 2px solid white;
      }
      a:hover {
        font-weight: 900;
        background-color: rgba(white, .20);
        -webkit-transition: background-color 0.5s ease;
        -moz-transition: background-color 0.5s ease;
        transition: background-color 0.5s ease;
      }
      .genrenavdropitems {
        display: none;
      }
    }
  }


// SEARCH ICON

$size: 18px;

.search-bar {
  height: auto;
  width: auto;
  position: relative;
  left: 67%;
  top: 18px;
  display: inline-block;
  transform: translate(-50%, -50%);
  box-sizing: border-box;

  input {
    height: 40px;
    width: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: $font;
    border: $size/10 solid white;
    border-radius: 44px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s ease-out;

    color: transparent;
    &::placeholder {
      color: transparent;
    }

    &:invalid {
      box-shadow: none;
    }

    &:hover {
      border: $size/10 solid #FFF;
      box-shadow: 0 0 $size/10 $size/10 #EEE;
    }

    &:focus, &:valid {
      width: 300px;
      border: $size/10 solid #CCC;
      outline: none;
      cursor: auto;
      background-color: #FFF;
      color: #000;

      &::placeholder {
        color: #999;
      }

      + .search-icon {
        z-index: 0;
        border-color: #bebebe;
        right: 20px;

        &:after {
          background-color: #CCC;
        }
      }
    }
  }
}

  .search-icon {
    display: inline-block;
    height: $size;
    width: $size;
    border-radius: 50%;
    border: $size/10 solid white;
    position: absolute;
    right: 12px;
    top: 8px;
    z-index: -1;

    &:after {
      content: '';
      position: absolute;
      top: $size/2 + $size/4*1.414 + $size/10;
      left: $size/2 + $size/4*1.414;
      transform: rotate(45deg);
      height: $size/10;
      width: $size/2;
      background-color: white;
      border-radius: 10px;
      }
    }
  }
}



// BOOKS SECTION
section {
  height: auto;
  clear: both;
  width: 100%;

  .books {
    text-align: center;
    margin-top: 2%;
  }

  div {
    float: left;
    padding: 4% 3.5%;
  }

  img {
    height: 190px;
  }
}

// UNDER-BOOK INFORMATION
h3 {
  font-family: $font;
}

h4 {
  font-family: $font;
}

.dots {
  width: 203px;
  height: auto;
}

// FOOTER
footer {
  clear: both;
  color: white;
  background-color: black;
  font-family: $font;
  text-align: center;
  clear: both;
  height: 20%;

  h4 {
    padding: 2%;
  }

  ul {
    text-align: center;
    padding: 2%;
  }

  li {
    list-style: none;
    display: inline;
  }

  a {
    color: white;
    font-family: $font;
    text-decoration: none;
    padding: 0 3%;
  }

  a:hover {
    font-weight: bold;
  }
}

// MEDIA QUERIES

// TABLET
@media (min-width: 600px) and (max-width: 1024px) {

// TITLE RECENTERING
header {
  height: 300px;
  width: 100%;
  .hero {
    .my-slider {
      height: 250px;
    }
    .search-bar {
      left: 60%;
    }
  }
}

// BOOK SECTION
section {
  height: auto;
  clear: both;
  padding-left: 4%;

  .books {
    text-align: center;
    margin-top: 2%;
  }

    div {
      float: left;
      padding: 5% 3%;
    }
  }
}

// MOBILE
@media (max-width: 599px) {

  header {
    height: 230px;
    .hero {
      .my-slider {
        height: 175px;
      }

      .search-bar {
        display: none;
      }
    }
  }

// BOOK SECTION
  section {
    height: auto;
    clear: both;

    .books {
      margin: 1%;
    }

      div {
        float: left;
        padding: 3%;
      }
    }
  }
