body {
  margin: 0px;
  padding: 0px;
  border: 0px; }

html {
  max-width: 1440px;
  margin: 0 auto; }

h1, h2, h3, h4, h5, h6, p, a, ul, li {
  margin: 0px;
  padding: 0px;
  border: 0px; }

header {
  height: 350px; }
  header .nav {
    float: right; }
  header .hero {
    background-position: top;
    background-repeat: no-repeat;
    width: auto;
    z-index: -1; }
    header .hero .my-slider {
      height: 300px;
      z-index: -1; }
      header .hero .my-slider ul li img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        z-index: -1; }
    header .hero .unslider-nav {
      background-color: black; }
    header .hero .logo {
      height: 30%;
      position: absolute;
      top: 5%;
      right: 2%;
      z-index: 400;
      border: 2px white solid;
      border-radius: 100%; }
    header .hero #maintitle {
      color: white;
      font-family: "cajito";
      font-size: 10vw;
      text-transform: uppercase;
      font-weight: 300;
      padding: 2%;
      padding-left: 2%;
      padding-top: 5%;
      text-align: center;
      position: absolute;
      left: 15%;
      right: 15%;
      top: 15%;
      border: 3px solid white;
      z-index: 1;
      background-color: rgba(255, 255, 255, 0.4); }
    header .hero .mainnavcontainer {
      background-color: black;
      padding-left: 8%;
      padding-bottom: 1%; }
      header .hero .mainnavcontainer ul {
        display: inline; }
      header .hero .mainnavcontainer .mainnav {
        background-color: black;
        clear: both;
        text-align: center;
        padding-left: 2%; }
        header .hero .mainnavcontainer .mainnav .mainnavdrop {
          display: inline;
          list-style: none; }
          header .hero .mainnavcontainer .mainnav .mainnavdrop a {
            display: inline-block;
            text-decoration: none;
            color: white;
            font-family: "cajito";
            text-transform: uppercase;
            font-size: 20px;
            padding: 4px;
            padding-top: 7px;
            border: 2px solid white; }
          header .hero .mainnavcontainer .mainnav .mainnavdrop a:hover {
            font-weight: 900;
            background-color: rgba(255, 255, 255, 0.5); }
          header .hero .mainnavcontainer .mainnav .mainnavdrop .mainnavdropitems {
            display: none; }
      header .hero .mainnavcontainer .genrenav {
        background-color: black;
        text-align: center;
        padding-left: 2%; }
        header .hero .mainnavcontainer .genrenav .genrenavdrop {
          display: inline;
          list-style: none; }
        header .hero .mainnavcontainer .genrenav a {
          display: inline-block;
          text-decoration: none;
          color: white;
          font-family: "cajito";
          text-transform: uppercase;
          font-size: 20px;
          padding: 4px;
          padding-top: 7px;
          border: 2px solid white; }
        header .hero .mainnavcontainer .genrenav a:hover {
          font-weight: 900;
          background-color: rgba(255, 255, 255, 0.5); }
        header .hero .mainnavcontainer .genrenav .genrenavdropitems {
          display: none; }
    header .hero .search-bar {
      height: auto;
      width: auto;
      position: relative;
      left: 67%;
      top: 18px;
      display: inline-block;
      transform: translate(-50%, -50%);
      box-sizing: border-box; }
      header .hero .search-bar input {
        height: 40px;
        width: 40px;
        padding: 10px 20px;
        box-sizing: border-box;
        font-size: 18px;
        font-family: "cajito";
        border: 1.8px solid white;
        border-radius: 44px;
        cursor: pointer;
        background-color: transparent;
        transition: all 0.5s ease-out;
        color: transparent; }
        header .hero .search-bar input::placeholder {
          color: transparent; }
        header .hero .search-bar input:invalid {
          box-shadow: none; }
        header .hero .search-bar input:hover {
          border: 1.8px solid #FFF;
          box-shadow: 0 0 1.8px 1.8px #EEE; }
        header .hero .search-bar input:focus, header .hero .search-bar input:valid {
          width: 300px;
          border: 1.8px solid #CCC;
          outline: none;
          cursor: auto;
          background-color: #FFF;
          color: #000; }
          header .hero .search-bar input:focus::placeholder, header .hero .search-bar input:valid::placeholder {
            color: #999; }
          header .hero .search-bar input:focus + .search-icon, header .hero .search-bar input:valid + .search-icon {
            z-index: 0;
            border-color: #bebebe;
            right: 20px; }
            header .hero .search-bar input:focus + .search-icon:after, header .hero .search-bar input:valid + .search-icon:after {
              background-color: #CCC; }
    header .hero .search-icon {
      display: inline-block;
      height: 18px;
      width: 18px;
      border-radius: 50%;
      border: 1.8px solid white;
      position: absolute;
      right: 12px;
      top: 8px;
      z-index: -1; }
      header .hero .search-icon:after {
        content: '';
        position: absolute;
        top: 17.163px;
        left: 15.363px;
        transform: rotate(45deg);
        height: 1.8px;
        width: 9px;
        background-color: white;
        border-radius: 10px; }

section {
  height: auto;
  clear: both;
  width: 100%; }
  section .books {
    text-align: center;
    margin-top: 2%; }
  section div {
    float: left;
    padding: 4% 3.5%; }
  section img {
    height: 190px; }

h3 {
  font-family: "cajito"; }

h4 {
  font-family: "cajito"; }

.dots {
  width: 203px;
  height: auto; }

footer {
  clear: both;
  color: white;
  background-color: black;
  font-family: "cajito";
  text-align: center;
  clear: both;
  height: 20%; }
  footer h4 {
    padding: 2%; }
  footer ul {
    text-align: center;
    padding: 2%; }
  footer li {
    list-style: none;
    display: inline; }
  footer a {
    color: white;
    font-family: "cajito";
    text-decoration: none;
    padding: 0 3%; }
  footer a:hover {
    font-weight: bold; }

@media (min-width: 600px) and (max-width: 1024px) {
  header {
    height: 300px;
    width: 100%; }
    header .hero .my-slider {
      height: 250px; }
    header .hero .search-bar {
      left: 60%; }

  section {
    height: auto;
    clear: both;
    padding-left: 4%; }
    section .books {
      text-align: center;
      margin-top: 2%; }
    section div {
      float: left;
      padding: 5% 3%; } }
@media (max-width: 599px) {
  header {
    height: 230px; }
    header .hero .my-slider {
      height: 175px; }
    header .hero .search-bar {
      display: none; }

  section {
    height: auto;
    clear: both; }
    section .books {
      margin: 1%; }
    section div {
      float: left;
      padding: 3%; } }

/*# sourceMappingURL=style.css.map */
